@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500&display=swap");
* {
  font-family: Roboto;
  color: #262626;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Lato;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
}
.header__logo::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: #E6BE63;
  border-radius: 50%;
}

.header__nav ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

.header__nav-link {
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.7);
}

.header__nav-link_active {
  color: #262626;
}

.header__burger {
  display: none;
  width: 24px;
  height: 16px;
  transition: all ease 0.4s;
  background-image: url(../assets/burger.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__burger_open {
  background-image: url(../assets/closeburger.svg);
  background-position: center center;
}

#root {
  overflow: hidden;
  position: relative;
}

.header__nav_mobile {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 52px;
  right: 0;
  padding: 20px;
  bottom: 0;
  z-index: 100;
  transition: all ease 0.6s;
  transform: translateX(100%);
}

.header__nav_mobile_active {
  transform: none;
}

.body_active {
  height: 100vh;
  overflow: hidden;
}

.header__nav_mobile ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-page__about {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.main-page__about-me {
  width: 100%;
  max-width: 808px;
  flex-shrink: 0;
  padding: 35px;
  border-radius: 10px;
  background: radial-gradient(55.45% 182.8% at 89.91% 93.26%, rgba(0, 255, 149, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #F1F1F1;
}
.main-page__about-me h1 {
  max-width: 567px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.main-page__about-me p {
  max-width: 718px;
  margin-top: 25px;
  margin-bottom: 95px;
  font-size: 18px;
  line-height: 137.69%;
}

.main-page__photo {
  width: 100%;
  background-color: #262626;
  border-radius: 10px;
  position: relative;
}
.main-page__photo img {
  width: 573px;
  height: 394px;
  position: absolute;
  bottom: -2px;
}

.contact-btns {
  display: flex;
  gap: 25px;
}

.contact-btn {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background-color: #262626;
  border-radius: 40px;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}
.contact-btn:hover {
  color: #262626;
  background-color: transparent;
  border: 1px solid #262626;
}

.social-btns {
  display: flex;
  gap: 15px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all ease 0.4s;
}
.social-btn:hover {
  background-color: #262626;
}
.social-btn:hover .social-btn-icon_github {
  background-image: url(../assets/github-active.svg);
}
.social-btn:hover .social-btn-icon_telegram {
  background-image: url(../assets/telegram-active.svg);
}
.social-btn:hover .social-btn-icon_codewars {
  background-image: url(../assets/codewars-active.svg);
}
.social-btn:hover .social-btn-icon_vk {
  background-image: url(../assets/vk-active.svg);
}
.social-btn:hover .social-btn-icon_deploy {
  background-image: url(../assets/deploy-active.svg);
}

.social-btn-icon {
  display: block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.2s ease-in;
}

.social-btn-icon_github {
  background-image: url(../assets/github.svg);
}

.social-btn-icon_telegram {
  background-image: url(../assets/telegram.svg);
}

.social-btn-icon_codewars {
  background-image: url(../assets/codewars.svg);
}

.social-btn-icon_vk {
  background-image: url(../assets/vk.svg);
}

.social-btn-icon_deploy {
  background-image: url(../assets/deploy.svg);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.portfolio-item {
  width: 100%;
  max-width: 690px;
  height: 489px;
  padding: 35px 35px 50px 35px;
  border-radius: 10px;
}

.portfolio-item__content {
  display: flex;
  justify-content: space-between;
}

.portfolio-item__about {
  display: flex;
  align-items: center;
}
.portfolio-item__about h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.portfolio-item__about span {
  display: block;
  margin: 0 15px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.portfolio-item__about ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.portfolio-item__about ul li {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.portfolio-item__content-image-link {
  transition: transform ease 0.4s;
}
.portfolio-item__content-image-link:hover {
  transform: scale(1.02);
}

.portfolio-item__about-description {
  margin-top: 9px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
}

.portfolio-item__btns {
  display: flex;
  gap: 10px;
}

.portfolio-item__image-content {
  display: flex;
  justify-content: center;
}

.portfolio-item__content-image {
  width: 559px;
  height: 316px;
  margin-top: 35px;
  border-radius: 10px;
  text-align: center;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
}

.footer {
  padding: 35px 0px;
}
.footer .footer__content {
  padding: 35px;
  background: radial-gradient(55.45% 182.8% at 89.91% 93.26%, rgba(0, 255, 149, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(54.7% 78.82% at 91.58% 30.22%, rgba(237, 198, 102, 0.4) 0%, rgba(241, 241, 241, 0.4) 100%), #F1F1F1;
  border-radius: 10px;
}
.footer h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.footer p {
  margin-top: 15px;
  font-size: 18px;
  line-height: 137.69%;
}

.footer__link {
  display: block;
  margin-top: 15px;
  margin-bottom: 70px;
  font-size: 18px;
  line-height: 137.69%;
}

@media (max-width: 1248px) {
  .portfolio-item__about {
    flex-direction: column;
    align-items: start;
  }
  .portfolio-item__about span {
    display: none;
  }
  .portfolio-item__about ul {
    margin-top: 5px;
  }
}
@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 1.39vw;
    padding-right: 1.39vw;
  }
  .main-page__about-me {
    max-width: 56.11vw;
    border-radius: 10px;
  }
  .main-page__photo {
    border-radius: 10px;
  }
  .main-page__photo img {
    width: 39.79vw;
    height: 27.36vw;
    bottom: -0.14vw;
  }
  .portfolio-item {
    max-width: 47.91vw;
    height: auto;
  }
  .portfolio-item img {
    max-width: 38.82vw;
    height: 21.94vw;
  }
  .portfolio-list {
    gap: 1.39vw;
  }
}
@media (max-width: 880px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-page__about {
    flex-direction: column-reverse;
  }
  .main-page__about-me {
    max-width: 100%;
  }
  .main-page__photo {
    height: 400px;
  }
  .main-page__photo {
    height: 310px;
    border-radius: 10px;
  }
  .main-page__photo img {
    width: 434px;
    height: 298px;
    left: 10px;
    bottom: -2px;
  }
  .portfolio-list {
    gap: 20px;
  }
  .portfolio-item {
    max-width: 100%;
  }
  .portfolio-item img {
    width: 100%;
    max-width: 617px;
    height: auto;
  }
}
@media (max-width: 540px) {
  .main-page__about-me h1 {
    font-size: 8.89vw;
    line-height: 10.37vw;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .portfolio-list {
    gap: 20px;
  }
  .main-page__photo img {
    width: 80.37vw;
    height: 55.19vw;
    left: 1.85vw;
    bottom: -0.37vw;
  }
  .contact-btns {
    align-items: start;
    flex-direction: column-reverse;
    gap: 0px;
  }
  .contact-btn {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  .portfolio-item__btns {
    margin-left: 10px;
    flex-direction: column;
  }
  .footer__content h2 {
    font-size: 8.89vw;
    line-height: 10.37vw;
  }
}
@media (max-width: 400px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .header {
    height: 13vw;
    padding-top: 3.75vw;
    padding-bottom: 3.75vw;
  }
  .header__burger {
    width: 6vw;
    height: 4vw;
  }
  .header__burger_open {
    width: 6vw;
    height: 4vw;
  }
  .header__nav_mobile {
    top: 13vw;
  }
  .header__nav_mobile ul {
    gap: 7.25vw;
  }
  .header__nav_mobile a {
    font-size: 4.5vw;
    line-height: 5.5vw;
  }
  .main-page__about {
    gap: 5vw;
  }
  .portfolio-list {
    margin-top: 5vw;
    gap: 5vw;
  }
  .footer {
    padding-top: 8.75vw;
    padding-bottom: 8.75vw;
  }
  .header__logo {
    font-size: 4.5vw;
    line-height: 5.5vw;
  }
  .header__logo::before {
    width: 4vw;
    height: 4vw;
    margin-right: 2.5vw;
  }
  .main-page__about-me {
    padding: 8.75vw;
  }
  .main-page__about-me p {
    margin-top: 6.25vw;
    margin-bottom: 23.75vw;
    font-size: 4.5vw;
  }
  .main-page__photo {
    height: 62.5vw;
  }
  .portfolio-item__content {
    flex-direction: column-reverse;
  }
  .portfolio-item__btns {
    flex-direction: row;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .portfolio-item {
    padding: 8.75vw 8.75vw 12.5vw 8.75vw;
  }
  .social-btn {
    width: 11.25vw;
    height: 11.25vw;
  }
  .social-btn span {
    width: 5.75vw;
    height: 5.75vw;
    background-size: contain;
  }
  .contact-btn {
    margin-top: 6.25vw;
  }
  .portfolio-item__about ul {
    gap: 2.5vw;
  }
  .portfolio-item__about ul li {
    font-size: 4vw;
    line-height: 4.75vw;
  }
  .portfolio-item__about h2 {
    font-size: 6vw;
    line-height: 7vw;
  }
  .portfolio-item__about-description {
    margin-top: 2.25vw;
    font-size: 4vw;
    line-height: 4.75vw;
  }
  .contact-btn {
    padding: 3vw 8.75vw;
    font-size: 4.5vw;
    line-height: 5.25vw;
  }
  .portfolio-item__content-image {
    margin-top: 8.75vw;
  }
  .footer .footer__content {
    padding: 8.75vw;
  }
  .footer__content p {
    margin-top: 3.75vw;
    font-size: 4.5vw;
  }
  .footer__link {
    margin-top: 3.75vw;
    margin-bottom: 3.75vw;
    font-size: 4.5vw;
  }
  .social-btns {
    gap: 3.75vw;
  }
}/*# sourceMappingURL=style.css.map */