@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500&display=swap');

* {
    font-family: Roboto;
    color: #262626;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Lato;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 22px;

    &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        background-color: #E6BE63;
        border-radius: 50%;
    }
}

.header__nav {
    ul {
        display: flex;
        align-items: center;
        gap: 35px;
    }
}

.header__nav-link {
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
}

.header__nav-link_active {
    color: #262626;
}

// main

.main-page__about {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.main-page__about-me {
    width: 100%;
    max-width: 808px;
    flex-shrink: 0;
    padding: 35px;
    border-radius: 10px;
    background: radial-gradient(55.45% 182.8% at 89.91% 93.26%, rgba(0, 255, 149, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #F1F1F1;

    h1 {
        max-width: 567px;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
    }
    p {
        max-width: 718px;
        margin-top: 25px;
        font-size: 18px;
        line-height: 137.69%;
    }
}

.main-page__photo {
    width: 100%;
    background-color: #262626;
    border-radius: 10px;
    position: relative;

    img {
        position: absolute;
        left: 40px;
        bottom: -2px;
    }
}

// social-buttons 

.contact-btns {
    display: flex;
    gap: 25px;
}

.contact-btn {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    background-color: #262626;
    border-radius: 40px;
    border: 1px solid transparent;
    transition: all .4s ease;

    &:hover {
        color: #262626;
        background-color: transparent;
        border: 1px solid #262626;
    }
}

.social-btns {
    display: flex;
    gap: 15px;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    
    &:hover {
        .social-btn-icon_github {
            background-image: url(../assets/github-active.svg);
        }
    }
}

.social-btn-icon {
    display: block;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .4s ease-in;
}

.social-btn-icon_github {
    background-image: url(../assets/github.svg);
}
.social-btn-icon_telegram {
    background-image: url(../assets/telegram.svg);
}
.social-btn-icon_codewars {
    background-image: url(../assets/codewars.svg);
}
.social-btn-icon_discord {
    background-image: url(../assets/discord.svg);
}
.social-btn-icon_deploy {
    background-image: url(../assets/deploy.svg);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.portfolio-item {
    width: 100%;
    max-width: 690px;
    height: 489px;
    padding: 35px 35px 50px 35px;
    border-radius: 10px;
}

.portfolio-item__content {
    display: flex;
    justify-content: space-between;
}

.portfolio-item__about {
    display: flex;
    align-items: center;

    h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
    }

    span {
        display: block;
        margin: 0 15px;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 10px;

        li {
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
        }
    }
}

.portfolio-item__about-description {
    margin-top: 9px;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.portfolio-item__btns {
    display: flex;
    gap: 10px;
}

.portfolio-item__image-content {
    display: flex;
    justify-content: center;
}

.portfolio-item__content-image {
    width: 559px;
    height: 316px;
    margin-top: 35px;
    border-radius: 10px;
    text-align: center;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
}